<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="Software para la administración de compras." />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		
		<title><ui:insert name="title">BeHealth - #{titulo}</ui:insert></title>
		
		<link rel="shortcut icon" href="/Bhealth/images/favicon.ico" />
		
		<!-- Main CSS -->
		<h:outputStylesheet library="css" name="main.css"/> 
		
		<!-- Font-icon CSS -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		
		<ui:insert name="libreriasExtra"></ui:insert>
	</h:head>
	<h:body class="app sidebar-mini rtl">
		<!-- Navbar-->
		<header class="app-header">
			<a class="app-header__logo" href="index.html">BHealth</a>
			
			<!-- Sidebar toggle button-->
			<a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
			
			<!-- Navbar Right Menu-->
			<ul class="app-nav">
				<li class="app-search">
					<!-- Romina
					<input class="app-search__input" type="search" placeholder="Search">
					<button class="app-search__button">
						<i class="fa fa-search"></i>
					</button>
					 -->
				</li>
				
				<!--Notification Menu-->
				<li class="dropdown">
					<a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications">
						<i class="fa fa-bell-o fa-lg"></i>
					</a>
					<ul class="app-notification dropdown-menu dropdown-menu-right">
						<li class="app-notification__title">You have 4 new notifications.</li>
						<div class="app-notification__content">
							<li>
								<a class="app-notification__item" href="javascript:;">
									<span class="app-notification__icon">
										<span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x text-primary"></i>
											<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
										</span>
									</span>
									<div>
										<p class="app-notification__message">Lisa sent you a mail</p>
										<p class="app-notification__meta">2 min ago</p>
									</div>
								</a>
							</li>
							<li>
								<a class="app-notification__item" href="javascript:;">
									<span class="app-notification__icon">
										<span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x text-danger"></i>
											<i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i>
										</span>
									</span>
									<div>
										<p class="app-notification__message">Mail server not working</p>
										<p class="app-notification__meta">5 min ago</p>
									</div>
								</a>
							</li>
							<li>
								<a class="app-notification__item" href="javascript:;">
									<span class="app-notification__icon">
										<span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x text-success"></i>
											<i class="fa fa-money fa-stack-1x fa-inverse"></i>
										</span>
									</span>
									<div>
										<p class="app-notification__message">Transaction complete</p>
										<p class="app-notification__meta">2 days ago</p>
									</div>
								</a>
							</li>
							<div class="app-notification__content">
								<li>
									<a class="app-notification__item" href="javascript:;">
										<span class="app-notification__icon">
											<span class="fa-stack fa-lg">
												<i class="fa fa-circle fa-stack-2x text-primary"></i>
												<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
											</span>
										</span>
										<div>
											<p class="app-notification__message">Lisa sent you a mail</p>
											<p class="app-notification__meta">2 min ago</p>
										</div>
									</a>
								</li>
								<li>
									<a class="app-notification__item" href="javascript:;">
										<span class="app-notification__icon">
											<span class="fa-stack fa-lg">
												<i class="fa fa-circle fa-stack-2x text-danger"></i>
												<i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i>
											</span>
										</span>
										<div>
											<p class="app-notification__message">Mail server not working</p>
											<p class="app-notification__meta">5 min ago</p>
										</div>
									</a>
								</li>
								<li>
									<a class="app-notification__item" href="javascript:;">
										<span class="app-notification__icon">
											<span class="fa-stack fa-lg">
												<i class="fa fa-circle fa-stack-2x text-success"></i>
												<i class="fa fa-money fa-stack-1x fa-inverse"></i>
											</span>
										</span>
										<div>
											<p class="app-notification__message">Transaction complete</p>
											<p class="app-notification__meta">2 days ago</p>
										</div>
									</a>
								</li>
							</div>
						</div>
						<li class="app-notification__footer">
							<a href="#">See all notifications.</a>
						</li>
					</ul>
				</li>
				<!-- User Menu-->
				<li class="dropdown">
					<a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu">
						<i class="fa fa-user fa-lg"></i>
					</a>
					<ul class="dropdown-menu settings-menu dropdown-menu-right">
						<li>
							<a class="dropdown-item" href="page-user.html">
								<i class="fa fa-cog fa-lg"></i> Settings
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="page-user.html">
								<i class="fa fa-user fa-lg"></i> Profile
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="page-login.html">
								<i class="fa fa-sign-out fa-lg"></i> Logout
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</header>
	
		<!-- Sidebar menu-->
		<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
		<aside class="app-sidebar">
			<div class="app-sidebar__user">
				<img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image"/>
				<div>
					<p class="app-sidebar__user-name">John Doe</p>
					<p class="app-sidebar__user-designation">Frontend Developer</p>
				</div>
			</div>
			<ul class="app-menu">
				<li>
					<a class="app-menu__item active" href="index.html">
						<i class="app-menu__icon fa fa-dashboard"></i>
						<span class="app-menu__label">Inicio</span>
					</a>
				</li>
				<li class="treeview">
					<a class="app-menu__item" href="#" data-toggle="treeview">
						<i class="app-menu__icon fa fa-laptop"></i>
						<span class="app-menu__label">Compras</span>
						<i class="treeview-indicator fa fa-angle-right"></i>
					</a>
					<ul class="treeview-menu">
						<li>
							<a class="treeview-item" href="bootstrap-components.html">
								<i class="icon fa fa-circle-o"></i> Solicitud compras
							</a>
						</li>
						<li>
							<a class="treeview-item" href="https://fontawesome.com/v4.7.0/icons/" target="_blank" rel="noopener">
								<i class="icon fa fa-circle-o"></i>Compras
							</a>
						</li>
					</ul>
				</li>
				<li class="treeview">
					<a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i>
						<span class="app-menu__label">Catálogos</span>
						<i class="treeview-indicator fa fa-angle-right"></i>
					</a>
					<ul class="treeview-menu">
						<li>
							<a class="treeview-item" href="form-components.html">
								<i class="icon fa fa-circle-o"></i> A signaciones departamentos-familias
							</a>
						</li>
						<li>
							<a class="treeview-item" href="form-custom.html">
								<i class="icon fa fa-circle-o"></i> Asignaciones solicitudes-productos
							</a>
						</li>
						<li>
							<a class="treeview-item" href="departamentos.html">
								<i class="icon fa fa-circle-o"></i> Departamentos
							</a>
						</li>
						<li>
							<a class="treeview-item" href="form-notifications.html">
								<i class="icon fa fa-circle-o"></i> Familias
							</a>
						</li>
						<li>
							<a class="treeview-item" href="form-notifications.html">
								<i class="icon fa fa-circle-o"></i> Productos
							</a>
						</li>
						<li>
							<a class="treeview-item" href="form-notifications.html">
								<i class="icon fa fa-circle-o"></i> Proveedores
							</a>
						</li>
						<li>
							<a class="treeview-item" href="form-notifications.html">
								<i class="icon fa fa-circle-o"></i> Status Compras
							</a>
						</li>
						<li>
							<a class="treeview-item" href="form-notifications.html">
								<i class="icon fa fa-circle-o"></i> Unidades
							</a>
						</li>
					</ul>
				</li>
				<li class="treeview">
					<a class="app-menu__item" href="#" data-toggle="treeview">
						<i class="app-menu__icon fa fa-th-list"></i>
						<span class="app-menu__label">Usuarios</span>
						<i class="treeview-indicator fa fa-angle-right"></i>
					</a>
					<ul class="treeview-menu">
						<li>
							<a class="treeview-item" href="table-basic.html">
								<i class="icon fa fa-circle-o"></i> Usuarios del sistema
							</a>
						</li>
						<li>
							<a class="treeview-item" href="table-data-table.html">
								<i class="icon fa fa-circle-o"></i> Agregar usuario
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</aside>
		<main class="app-content">
			<ui:insert name="content">    	
       			En proceso
  			</ui:insert>
  		</main>
		<ui:insert name="libreriasTemplate">
			<!-- Essential javascripts for application to work-->
			<script src="js/jquery-3.2.1.min.js"></script>
			<script src="js/popper.min.js"></script>
			<script src="js/bootstrap.min.js"></script>
			<script src="js/main.js"></script>
			
			<!-- The javascript plugin to display page loading on top-->
			<script src="js/plugins/pace.min.js"></script>
			
			<!-- Page specific javascripts-->
			<script type="text/javascript" src="js/plugins/chart.js"></script>
			<script type="text/javascript">
				var data = {
					labels: ["January", "February", "March", "April", "May"],
					datasets: [
						{
							label: "My First dataset",
							fillColor: "rgba(220,220,220,0.2)",
							strokeColor: "rgba(220,220,220,1)",
							pointColor: "rgba(220,220,220,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(220,220,220,1)",
							data: [65, 59, 80, 81, 56]
						},
						{
							label: "My Second dataset",
							fillColor: "rgba(151,187,205,0.2)",
							strokeColor: "rgba(151,187,205,1)",
							pointColor: "rgba(151,187,205,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(151,187,205,1)",
							data: [28, 48, 40, 19, 86]
						}
					]
				};
				var pdata = [
					{
						value: 300,
						color: "#46BFBD",
						highlight: "#5AD3D1",
						label: "Complete"
					},
					{
						value: 50,
						color:"#F7464A",
						highlight: "#FF5A5E",
						label: "In-Progress"
					}
				]
				
				var ctxl = $("#lineChartDemo").get(0).getContext("2d");
				var lineChart = new Chart(ctxl).Line(data);
				
				var ctxp = $("#pieChartDemo").get(0).getContext("2d");
				var pieChart = new Chart(ctxp).Pie(pdata);
			</script>
			
			<!-- Google analytics script-->
			<script type="text/javascript">
				if(document.location.hostname == 'pratikborsadiya.in') {
					(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
					})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
					ga('create', 'UA-72504830-1', 'auto');
					ga('send', 'pageview');
				}
	    	</script>
		</ui:insert>
	</h:body>
</h:html>