<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:composition template="./WEB-INF/templates/plantilla.xhtml">
		<ui:define name="content">
			<div class="app-title">
				<div>
					<h1><i class="fa fa-dashboard"></i> Dashboard</h1>
					<p>A free and open source Bootstrap 4 admin template</p>
				</div>
				<ul class="app-breadcrumb breadcrumb">
					<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
					<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3">
					<div class="widget-small primary coloured-icon">
						<i class="icon fa fa-users fa-3x"></i>
						<div class="info">
							<h4>Users</h4>
							<p>
								<b>5</b>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="widget-small info coloured-icon">
						<i class="icon fa fa-thumbs-o-up fa-3x"></i>
						<div class="info">
							<h4>Likes</h4>
							<p>
								<b>25</b>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="widget-small warning coloured-icon">
						<i class="icon fa fa-files-o fa-3x"></i>
						<div class="info">
							<h4>Uploades</h4>
							<p>
								<b>10</b>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="widget-small danger coloured-icon">
						<i class="icon fa fa-star fa-3x"></i>
						<div class="info">
							<h4>Stars</h4>
							<p>
								<b>500</b>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="tile">
						<h3 class="tile-title">Monthly Sales</h3>
						<div class="embed-responsive embed-responsive-16by9">
							<canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="tile">
						<h3 class="tile-title">Support Requests</h3>
						<div class="embed-responsive embed-responsive-16by9">
							<canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="tile">
						<h3 class="tile-title">Features</h3>
						<ul>
							<li>Built with Bootstrap 4, SASS and PUG.js</li>
							<li>Fully responsive and modular code</li>
							<li>Seven pages including login, user profile and print friendly invoice page</li>
							<li>Smart integration of forgot password on login page</li>
							<li>Chart.js integration to display responsive charts</li>
							<li>Widgets to effectively display statistics</li>
							<li>Data tables with sort, search and paginate functionality</li>
							<li>Custom form elements like toggle buttons, auto-complete, tags and date-picker</li>
							<li>A inbuilt toast library for providing meaningful response messages to user's actions</li>
						</ul>
						<p>
							Vali is a free and responsive admin theme built with
							Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.
						</p>
						<p>
							Vali is is light-weight, expendable and good looking theme. The
							theme has all the features required in a dashboard theme but this
							features are built like plug and play module. Take a look at the
							<a href="http://pratikborsadiya.in/blog/vali-admin" target="_blank"> documentation</a>
							about customizing the theme colors and functionality.
						</p>
						<p class="mt-4 mb-4">
							<a class="btn btn-primary mr-2 mb-2" href="http://pratikborsadiya.in/blog/vali-admin" target="_blank">
								<i class="fa fa-file"></i>Docs
							</a>
							<a class="btn btn-info mr-2 mb-2" href="https://github.com/pratikborsadiya/vali-admin" target="_blank">
								<i class="fa fa-github"></i>GitHub
							</a>
							<a class="btn btn-success mr-2 mb-2" href="https://github.com/pratikborsadiya/vali-admin/archive/master.zip" target="_blank">
								<i class="fa fa-download"></i>Download
							</a>
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="tile">
						<h3 class="tile-title">Compatibility with frameworks</h3>
						<p>
							This theme is not built for a specific framework or
							technology like Angular or React etc. But due to it's modular
							nature it's very easy to incorporate it into any front-end or
							back-end framework like Angular, React or Laravel.</p>
						<p>
							Go to <a href="http://pratikborsadiya.in/blog/vali-admin" target="_blank">documentation</a> 
							for more details about
							integrating this theme with various frameworks.
						</p>
						<p>
							The source code is available on GitHub. If anything is missing or weird please report it as an issue on 
							<a href="https://github.com/pratikborsadiya/vali-admin" target="_blank">GitHub</a>
							. If you want to contribute to this theme pull requests are always welcome.
						</p>
					</div>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:html>